body{
    background-color:navy;
    text-align:center;
    width:100%;
}
h1, h2{
    color:#76B347;
}
#mouseCoord{
    color:white;
}
ul.control-buttons{
    height:100px;
    width:420px;
    margin-left: auto; margin-right: auto;
    padding:0;
}
ul li{
    postion:relative;
    style:none;
    float:left;
    margin:0 30px;
}


div.bottom-spacer{
    height:50px;
}
div#canvas-container{
    margin-left: auto; margin-right: auto;
    position:relative;
    width:600px; 
    height:600px;
    border:10px solid black;

}

canvas#can{
    background-color:white;
    width:600px; 
    height:600px;
}

div#block1{
    height:0px; width:600px; background:black; z-index:999999; position:absolute; 
                                top:0px; left:0px;

                                -moz-box-shadow:    3px 0px 5px 6px #000;
                                -webkit-box-shadow: 3px 0px 5px 6px #000;
                                box-shadow:         3px 0px 5px 6px #000;
}
div#block2{
    height:600px; width:0px; background:black; z-index:999999; position:absolute; 
                                top:0px; right:0px;

                                -moz-box-shadow:    0px 3px 5px 6px #000;
                                -webkit-box-shadow: 0px 3px 5px 6px #000;
                                box-shadow:         0px 3px 5px 6px #000;
}
div#block3{
    height:0px; width:600px; background:black; z-index:999999; position:absolute; 
                                bottom:0px; right:0px;

                                -moz-box-shadow:    -3px 0px 5px 6px #000;
                                -webkit-box-shadow: -3px 0px 5px 6px #000;
                                box-shadow:         -3px 0px 5px 6px #000;
}
div#block4{
    height:600px; width:0px; background:black; z-index:999999; position:absolute; 
                                bottom:0px; left:0px;

                                -moz-box-shadow:    0px -3px 5px 6px #000;
                                -webkit-box-shadow: 0px -3px 5px 6px #000;
                                box-shadow:         0px -3px 5px 6px #000;
}


/* punch buggy no punch back!
*******************************************************************************/
button.punch{
  background: #76B347;
  border-top: 1px solid #63A62F;
  border-right: 1px solid #63A62F;
  border-bottom: 1px solid #63A62F;
  border-left: 1px solid #63A62F;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #63A62F, 0px 1px 0 #63A62F, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #63A62F, 0px 1px 0 #63A62F, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #63A62F, 0px 1px 0 #63A62F, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #63A62F;
  width: 150px;
  -webkit-background-clip: padding-box; }
  
   button.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #76B347, 0px 1px 0 #63A62F, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #76B347, 0px 1px 0 #63A62F, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #76B347, 0px 1px 0 #63A62F, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; } 
   button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #63A62F, 0 1px 0 #63A62F, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #63A62F, 0 1px 0 #63A62F, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #63A62F, 0 1px 0 #63A62F, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 58px; } 

button.punch {
  margin-top: 54px; 
}

button{
-webkit-appearance: button;
vertial-align:none;
}